.App{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@keyframes upToDown {
    from{
        transform: translateY(-10%);

    }to{
        transform: translateY(0);
    }
}

